<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">程序员导航</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页 <span class="sr-only"></span></a></li>
                <li><a href="/submit">提交网址</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="##" th:if="${session.user != null }" th:text="'你好，'+${session.user}"></a>
                    <a th:if="${session.user == null}" href="/login">登录</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
